.editor {
  border: 1px solid #ddd;
  padding: 10px;
  min-height: 300px;
}

.editor-controls {
  margin-bottom: 10px;
}

.public-DraftStyleDefault-block {
  margin: 0;
}

.text-align-left {
  display: flex;
  justify-content: left;
}

.text-align-center {
  display: flex;
  justify-content: center;
}

.text-align-right {
  display: flex;
  justify-content: end;
  width: 100%;
}
